<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS,UTC} %-3level %logger{26}: %msg %ex{full}%n</pattern>
    </encoder>
  </appender>

  <logger name="akka" level="${logback.levels.akka:-WARN}"/>
  <logger name="com.xantoria" level="${logback.levels.xantoria:-INFO}"/>

  <root level="${logback.levels.root:-INFO}"><appender-ref ref="STDOUT"/></root>
</configuration>
